/* Resetting default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Lato', sans-serif;
    background-color: #f0f0f0;
    color: #333;
  }
  
  .wrap {
    background-color: #3498db;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .abhaya,
  .pratikshya,
  .Aarjan,
  .Anjal,
  .Supriya,
  .dev,
  .Muskan {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .abhaya p,
  .pratikshya p,
  .Aarjan p,
  .Anjal p,
  .Supriya p,
  .dev p {
    margin-bottom: 8px;
  }
  
  .Linkdein,
  .crush {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .Linkdein p {
    margin-bottom: 8px;
  }
  
  .crush .Muskan a {
    color: #3498db;
    text-decoration: none;
  }
 .zitekshu {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  